/* Box Model Hack */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body{
  background-color: rgb(176, 113, 235);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header, .top{
  color: #40e0d0;
}

#header {
  margin: 20px 0 20px 0;
  font-size: 42px;
}

.top{
  text-decoration: none;
  font-size: 22px;
  display: flex;
  background-color: rgba(64, 224, 208, 0.606);
  color: black;
  width:100px;
  margin-left: 20px;
  margin-top: 20px;
}
img {
  width: 300px;
  margin: 20px 0 20px 0;
}

 ul {
  list-style: none;
  margin-top: 20px
}

section.recipes{
  background-color: hsla(51, 100%, 50%, 0.627);
  height: 100px;
  width: 300px;
  border: 2px solid black;
}
/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
